.about {

   &__gallery {
      
      display: grid;
      grid-template-columns: repeat(2, 660px);
      grid-auto-rows: 118px;
      grid-auto-flow: dense;
      grid-gap: 40px;

      @media (max-width: 1439px) {
         grid-template-columns: repeat(2, 1fr);
         grid-auto-rows: auto;
      }

      @media (max-width: 768px) {
         grid-template-columns: 1fr;
         grid-auto-rows: 118px;
      }
   }
   
   &__item {
      
      border-radius: 20px;
      overflow: hidden;
      grid-row: span 4;
      background-size: cover;
      
      &:nth-child(2n) {
         grid-row: span 3;

         @media (max-width: 768px) {
            display: none;
         }
      }

   }

   &__img {
      transform: scale(1.1);
      transition: transform 0.7s;

      @media (max-width: 768px) {
         transform: scale(1.06);
      }

      @media (max-width: 525px) {
         transform: scale(1.23);
      }
   }
   
   @media(hover:hover) {
      &__item:hover {
         .about__img {
            transform: scale(1);
         }
      }
   }


}
