// colors
$darkText: #403F3D;
$lightText: #E1D4C9;
$accentColor: #B0907A;

// background
$bodyBg: #E1D4C9;
$containerBg: #665F55;
$backdropBg: rgba(64, 63, 61, 0.8);

// border
$lightBorder: #C1B6AD;
$darkBorder: #665F55;
